@import url(http://fonts.googleapis.com/css?family=Open+Sans|Droid+Serif);
html {
  height: 100%; }
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "sans serif";
  color: #404040;
  background-color: #f2f2f2; }

a {
  color: #404040;
  text-decoration: none; }

hr {
  border-color: #555555;
  width: 80%; }

section h1 {
  font-size: 20px;
  margin: 30px 0; }

.serif {
  font-family: "Droid Serif", "serif"; }

.left {
  float: left; }

.right {
  float: right; }

#aboutme {
  text-align: left;
  border-top: 2px solid #707070;
  padding-top: 20px; }

#brand {
  font-size: 30px;
  font-weight: 600;
  padding: 0 30px; }

#article {
  font-size: 14px; }
  #article h1 {
    font-size: 20px;
    margin: 30px 0; }

#posts {
  padding-bottom: 30px; }

.wrap {
  width: 90%;
  margin: 0 auto; }

.post {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: white;
  padding: 20px;
  margin: auto 15px;
  position: relative;
  vertical-align: middle; }

footer {
  border-top: 5px solid #555555;
  color: #cdceff;
  text-align: center;
  background-color: #6769cc;
  min-height: 40px;
  padding: 15px 0 0 0;
  vertical-align: middle;
  margin-top: -60px; }

.menu {
  height: inherit;
  border-bottom: 3px solid #e5e5e5;
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: #fafafa; }
  .menu a {
    float: left;
    padding: 0px 40px;
    line-height: 60px;
    transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out; }
    .menu a:hover {
      color: #efefef;
      background-color: #4c4d96; }

#articles {
  text-align: center;
  background-color: #ededed; }

#container {
  height: 100%; }

.row {
  width: 100%;
  height: 80px;
  margin: 30px auto 0 auto; }

dl {
  margin-bottom: 20px;
  margin-top: 0px; }

dt {
  clear: left;
  border-bottom: 5px solid #555555;
  float: left;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
  font-weight: bold; }

dd {
  margin-left: 0; }

.col-1 {
  width: 12.5%; }

.col-2 {
  width: 25%; }

.col-3 {
  width: 37.5%; }

.col-4 {
  width: 50%; }

.col-5 {
  width: 62.5%; }

.col-6 {
  width: 75%; }

.col-7 {
  width: 87.5%; }

.col-8 {
  width: 100%; }